/* --------------ROOT------------- */
:root {
  --white: #ffffff;
  --creme: #f2ede2;
  --hasselnut: #d8cdc2;
  --purplebrown: #4c0b05;
  --pinetree: #738153;

  --bodoni: ltc-bodoni-175, serif;
  --nunito: nunito-sans, sans-serif;
}

/* ------------FIRST CONTAINER------------ */

#first_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 980px;
  margin: auto;
}

.intro_img {
  max-width: 400px;
  margin: 40px;
  flex-shrink: 1;
}

#intro_text_div {
  margin-top: 40px;
}
.small_text {
  font-size: 1.2rem;
}

/* ------------PROBLEMER------------ */

#problemer {
  background-color: var(--pinetree);
  padding-top: 50px;

  color: var(--white);
}

.problems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.problem {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.problem img {
  margin: 10px;
  max-width: 80%;
}

/* ------------CAROUSEL------------ */
.carousel-item {
  padding: 50px;
}

.carousel-item.active,
.carousel-item-next {
  background-color: var(--white);
}

.carousel-inner {
  max-width: 700px;
  margin: auto;
}

/* -----------LETTER TO NINA----------- */

#lettertonina_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 980px;
  margin: auto;
  align-items: center;
}

.text_letter {
  text-align: center;
  max-width: 400px;
}
.lettertonina {
  margin: 40px;
}

/* ----------------BLOG---------------- */
#blog {
  background-color: var(--hasselnut);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogposts {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0 !important;
}

.blogpost {
  background-color: var(--purplebrown);

  max-width: 250px;
}

#blog a {
  margin: 40px;
}

.blogpost img {
  width: 100%;
}

.blogpost h4 {
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  font-size: 1.3rem;
}
.blog_se_flere {
  border: solid 2px var(--purplebrown);
  padding: 10px;
  text-decoration: none;
  color: var(--purplebrown);
  text-align: center;
  font-size: 1.3rem;
  margin: 0 !important;
}
.blog_se_flere:hover {
  color: var(--purplebrown) !important;
}

/* -----------FREDAGSMAIL----------- */

#fredagsmail {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;
}

#fredagsmail p {
  max-width: 700px;
}
.form_div {
  display: flex;
  flex-direction: row;
  margin: auto;

  justify-content: center;
  margin-bottom: 0 !important;
}

.form_div input {
  margin: 10px;
  border: 2px solid var(--purplebrown);
  padding: 10px;
  background-color: inherit;
  color: var(--purplebrown);
}
#submit {
  color: var(--purplebrown) !important;
}

#submit:hover {
  background-color: var(--purplebrown);
  color: var(--creme) !important;
  transition: 0.2s;
}

/* ------------MEDIA QUIERIES------------ */
@media screen and (max-width: 991px) {
  #first_container {
    max-width: 90%;
  }

  .carousel-inner {
    max-width: 70%;
  }

  .problems {
    flex-wrap: wrap;
  }
}
